*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* banner section */

.banner-section{
    background: url(/images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    width: 1124px;
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: right;
    padding: 230px;
    
}
    
.banner-item{
    width:40%;
    text-align: right;
}
.banner-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}
.banner-description{
    color: #FFFFFF;
    margin-bottom: 32px;

}
.primary-btn{
    background: white;
    color: #005FAC;
    border: none;
    padding:20px 25px;

}