*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}
/* banner section */

.banner-section{
    background: url(./images/banner/banner3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: initial;
    width: 1123px;
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: right;
    padding: 230px;
    
}
    
.banner-item{
    width:40%;
    text-align: right;
}
.banner-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 20px;
}
.banner-description{
    color: #FFFFFF;
    margin-bottom: 32px;

}
.primary-btn{
    background: white;
    color: #005FAC;
    border: none;
    padding:20px 25px;

}

/* information section */
.information-section{
    display: flex;
    width: 1000px;
    margin: auto;
    padding-top: 60px;
    gap: 106px;
}
.information-img img{
    width: 475px;
    
}

.information-text {
    margin-top: 235px;
}

h3.information-tittle {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
}
.information-desc{
    font-weight: 400;
    /* line-height: 26px; */
    font-size: 16px;
    color: #444343;
    margin-bottom: 16px;
}
.information-line {
    list-style: none;
    color: #444343;
}
.information-line i{
    color: green;
    margin-right: 5px;    
}

/* My plan secton */
.my-plan-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 115px;
}
.my-plan-info{
    
    width: 1140px;
    display: flex;
    justify-content: space-around;
    margin:auto;
    margin-top: 60px;
    margin-bottom: 130px;

}
.column-title {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.column-desc {
    font-weight: 500;
    text-align: center;
    color: #737272;
}
/* call to action */
.call-to-action{
    background-image:
    linear-gradient(to left, rgba(245, 246, 252, 0), rgba(0, 95, 172, 100%)),url(./images/watch.png);
    width: 1140px;
    height: 300px;
    margin: auto;}

.call-title {
    font-size: 40px;
    font-weight: 700;
    color: #ffffff;
    padding: 60px 60px;

}
.call-btn {
    color: #005FAC;
    background: white;
    border: none;
    padding: 20px 36px;
    border-radius: 5px;
    margin-left: 60px;
}
/* footer section */
.footer-section{
    background-color:black;
    margin-top: 120px;
}
.footer-item {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 104px 0px;
}
.footer-title {
    color: white;
    font-size: 40px;
}
.footer-desc {
    color: white;
    margin-top: 22px;
}
.footer-email {
    color: white;
    margin-top: 20px;
}
.footer-img {
    margin-top: 20px;
}
.sub-email {
    padding: 20px 80px 25px 20px;
    background: black;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0px;
}
.sub-btn {
    display: block;
    padding: 20px 46px;
    border-radius: 6px;
    font-size: 19px;
    background: #005FAC;
    color: white;
    font-weight: 500;
}